<table class="table">
	<thead>
		<tr>
			<!-- TODO: change when it's USD -->
			<th>UF</th>
			<th>Date</th>
			<th>CLP Value</th>
		</tr>
	</thead>
	<tbody>
		<% response.each do |value| %>
			<tr>
				<td></td>
				<td><%= value['Fecha'] %></td>
				<td><%= value['Valor'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>