<h4>Choose data type and date range:</h4>
<div class="row">
	<div class="form-group">
		<div class="col-xs-3">
			<select class="form-control select select-primary" data-toggle="select">
				<option value="0">Choose data type</option>
				<option value="1" selected>UF</option>
				<option value="2">USD</option>
			</select>
		</div>
		<div class="col-xs-3">
			<span>From: </span>
			<input type="text" id="date-from">
		</div>
		<div class="col-xs-3">
			<span>To: </span>
			<input type="text" id="date-to">
		</div>
	</div>
</div>