<!DOCTYPE html>
<html>
	<head>
		<title>FinData</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
						<span class="sr-only">Toggle navigation</span>
						</button>
						<a class="navbar-brand" href="#">Fin Data</a>
					</div>
				</nav><!-- /navbar -->
			</div>
			<div class="row error-container"></div>
			<div class="row">
				<%= yield %>
			</div>
		</div>
	</body>
</html>